@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* TOP HEADER BAR STARTS */
.pageHeader {
  background: #1c3a5d;
  padding: 10px 0;
}

.pageHeader .innerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pageHeader .innerHeader p {
  color: #adadad;
  font-family: "Roboto", sans-serif;
}

.pageHeader .innerHeader .dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #888;
}

.pageHeader .innerHeader .dropdown:hover .dropdown-content {
  display: block;
}

.pageHeader .innerHeader .dropdown button svg {
  color: #000;
  margin-right: 0;
}

.pageHeader .innerHeader .dropdown input {
  border: none;
  background: transparent;
  color: #fff;
}

.pageHeader .innerHeader .dropdown input:focus {
  border: none;
  outline: none;
}

.pageHeader .innerHeader .dropdown svg {
  color: white;
  margin-right: 10px;
}

.pageHeader .innerHeader .dropdown .dropbtn {
  background-color: #ffffff;
  color: black;
  padding: 8px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.pageHeader .innerHeader .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
}

.pageHeader .innerHeader .dropdown .dropdown-content a {
  color: black;
  padding: 6px 20px;
  text-decoration: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pageHeader .innerHeader .dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}
/* TOP HEADER BAR ENDS*/

/* HEADER IMAGE SECTION START */
.headerLogo {
  padding: 30px 0;
}

.headerLogo .innerHeaderLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.headerLogo .innerHeaderLogo svg {
  display: none;
}
/* HEADER IMAGE SECTION ENDS */

/* NAVBAR SECTION START */
nav {
  background: #0071bb;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

nav ul li {
  padding: 20px 0;
}

nav ul li svg {
  color: #fff;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: 0.5s all;
}

nav ul li a:hover {
  color: #ffca0d;
}

nav ul li:last-child {
  background: #ffca0d;
}

nav ul li:last-child a {
  color: #000;
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

nav ul li .nav-dropdown {
  position: absolute !important;
  top: 56px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  background-color: #1c3a5d;
  min-width: 150px;
  display: block;
}

nav ul li .nav-dropdown .drop-down-link {
  padding: 8px;
  background-color: #1c3a5d;
}
nav ul li .nav-dropdown .drop-down-link:last-child {
  background-color: #1c3a5d;
  padding: 8px !important;
}

nav ul li .nav-dropdown .drop-down-link a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  background-color: #1c3a5d;
}
nav ul li .nav-dropdown .drop-down-link a:last-child {
  padding: 8px;
}

nav ul li:hover .nav-dropdown {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

/* NAVBAR SECTION ENDS */

/* SLIDER SECTION START */
.mySwiper .swiper-wrapper .swiper-slide {
  position: relative;
  /* padding: 50px 0; */
}

.mySwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.mySwiper .swiper-wrapper .swiper-slide .textOnImg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.mySwiper .swiper-wrapper .swiper-slide .textOnImg h2 {
  color: #fff;
  font-size: 35px;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 500;
}

.mySwiper .swiper-wrapper .swiper-slide .textOnImg p {
  color: #fff;
  padding-bottom: 20px;
  line-height: 1.2;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
}

.mySwiper .swiper-wrapper .swiper-slide .textOnImg button {
  padding: 10px 30px;
  border: 1px solid #ffca0d;
  background: #ffca0d;
  font-weight: 700;
}

/* SLIDER SECTION ENDS */

/* OFFER SECTION START */
.offers {
  padding: 50px 0;
}

.offers .innerOffer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.offers .innerOffer .weOfferTitle {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: right;
  padding-right: 20px;
  border-right: 3px solid #1c3a5d;
}
.offers .innerOffer .weOfferTitle h2 {
  font-size: 24px;
  color: #313131;
  font-weight: 500;
  line-height: 26px;
  position: relative;
}
.offers .innerOffer .weOfferSubTitle {
  flex: 0 0 60%;
  max-width: 60%;
  padding-left: 20px;
}

.offers .innerOffer .weOfferSubTitle {
  font-size: 14px;
  line-height: 18px;
}
/* .offers .innerOffer h2 {
  padding-right: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  font-size: 25px;
  text-align: right;
  font-weight: 700;
}

.offers .innerOffer p {
  padding-left: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
  line-height: 1.4;
} */
.offers .mainFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.offers .mainFeatures .innerFeature {
  flex: 0 0 45%;
  max-width: 45%;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0;
  border: 1px solid #e6e6e6;
  padding: 15px;
}
.offers .mainFeatures .innerFeature:nth-child(odd) {
  margin-right: 8px;
}
.offers .mainFeatures .innerFeature:nth-child(even) {
  margin-left: 8px;
}

/* .offers .mainFeatures .innerFeature .featureImg {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
} */

.offers .mainFeatures .innerFeature .featureTxt {
  padding-left: 15px;
}

.offers .mainFeatures .innerFeature .featureTxt h2 {
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
}

.offers .mainFeatures .innerFeature .featureTxt h2::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 3px;
  background: green;
  bottom: -3px;
  left: 0;
}

.offers .mainFeatures .innerFeature .featureTxt p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #8e9799;
  font-weight: 300;
}

/* OFFER SECTION ENDS */

/* ABOUT US SECTION START */

.innerAboutUs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #00aaa4;
}

.innerAboutUs .aboutImage,
.innerAboutUs .aboutUsTxt {
  flex: 0 0 50%;
  max-width: 50%;
}
.innerAboutUs .aboutImage {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.innerAboutUs .aboutImage::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  border: 1px solid #fff;
  background: transparent;
  z-index: 2;
}

.innerAboutUs .aboutUsTxt {
  padding: 0 50px;
}
.innerAboutUs .aboutUsTxt .aboutTitle h2 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  position: relative;
  margin-bottom: 60px;
}
.innerAboutUs .aboutUsTxt .aboutTitle h2::after {
  position: absolute;
  content: "";
  background: #fff;
  width: 50px;
  height: 3px;
  bottom: -25px;
  left: 0;
}

.innerAboutUs .aboutUsTxt .aboutPara p {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
}

.innerAboutUs .aboutUsTxt .aboutFeatures {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 70px;
}
.innerAboutUs .aboutUsTxt .aboutFeatures .featureMain {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 10px 0 0;
}
.innerAboutUs .aboutUsTxt .aboutFeatures .featureMain:nth-child(2) {
  border-left: 1px dashed #fff;
  padding: 0 10px;
  border-right: 1px dashed #fff;
}

.innerAboutUs .aboutUsTxt .aboutFeatures .featureMain .featurePoints h2 {
  margin: 5px;
  color: #fff;
  font-weight: 500;
}
/* ABOUT US SECTION ENDS */

/* FACT AND FIGURE SECTION ENDS */
.factnFigure {
  padding: 70px 0;
  background: url(../images/counter-bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.factnFigure .innerFactnFigure .factTitle h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 60px;
  text-transform: uppercase;
  position: relative;
}
.factnFigure .innerFactnFigure .factTitle h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: #22b04b;
}

.factsFigure {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.factsFigure .figureNumbers {
  flex: 0 0 25%;
  max-width: 25%;
}

.factsFigure .figureNumbers h2 {
  font-size: 35px;
  color: #0772ba;
  margin-bottom: 20px;
  font-weight: 700;
}
.factsFigure .figureNumbers p {
  font-weight: 500;
  line-height: 20px;
}

/* FACT AND FIGURE SECTION ENDS */
.companyValue {
  padding: 70px 0;
}

.mainCompanyValue {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.mainCompanyValue .testimonials {
  flex: 0 0 40%;
  max-width: 40%;
}

.mainCompanyValue .ourValues {
  flex: 0 0 60%;
  max-width: 60%;
}

.mainCompanyValue .testimonials .valueTitle h2,
.mainCompanyValue .ourValues .valueTitle h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 60px;
  text-transform: uppercase;
  position: relative;
}

.mainCompanyValue .testimonials .valueTitle h2::after,
.mainCompanyValue .ourValues .valueTitle h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: -20px;
  left: 0;
  background: #22b04b;
}
.testSlider .custReview .customerProfile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.testSlider .custReview .customerProfile .custDetails{
  padding: 20px;
}
.testSlider .custReview .customerProfile .custDetails h2{
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}
.testSlider .custReview .customerProfile .custDetails p{
  font-size: 16px;
}
.testSlider .custReview .customerProfile .custDetails .starRating{
  margin-top: 20px;
}
.testSlider .custReview .customerWords p{
  line-height: 20px;
  color: rgb(85, 85, 85);
  padding: 20px 0 10px 0;
}

.testSlider .custReview .customerWords img{
  width: unset;
}